.home-page-container {
	color: #f1faee;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100vh;
}

.seal-logo {
	width: 20%;
	margin-bottom: 4em;
}

.home-page-container h1 {
	font-size: 3vw;
	margin-bottom: 1.5em;
}

.search-container {
	padding: 1em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: auto;
	width: 90%;
}

.search-params,
.search-option,
.search-input {
	margin: 1em;
	height: 4.8em;
	width: 40%;
	border-radius: 5px;
	border: #457b9d solid 3px;
	font-size: 1em;
	background-size: 35px;
	background-color: #f1faee;
	padding-left: 30px;
}

.search-btn {
	display: inline-block;
	width: 8em;
	height: 4.8em;
	font-size: 1em;
	color: white;
	background-color: #457b9d;
	border: #457b9d solid;
	border-radius: 5px;
	padding: 10px;
}

.search-btn img {
	height: 80%;
	fill: white;
}
