.profile {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
	width: 70%;
}

.my-reps {
	/* background-color: #f1faee; */
	border-radius: 5px;

	height: 75vh;
	width: 40vw;
}
