.all-reps {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
	width: 70%;
}

.all-reps-container {
	background-color: #f1faee;
	border-radius: 5px;
	overflow: scroll;
	height: 75vh;
	width: 40vw;
}

.filter {
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
	border: 0.5px solid rgba(69, 123, 157, 1);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin: 2em;
	background-color: #1d3557;
	width: 22em;
	margin-right: 1em;
	display: flex;
	flex-direction: column;
	padding: 1.2em;
	position: fixed;
	top: 21%;
	right: 7%;
}
.filter label {
	margin: 0.2em;
}
