nav {
    display: flex;
    justify-content: flex-start;
    height: 4.8vw;
}

.nav-link {
    margin-right: .2em;
    text-align: center;
    background-color: grey;
    color: white;
    padding: 1em;
    font-size: 1.4vw;
    width: 16%;
}

nav :nth-child(3) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}