.single-rep-container {
	align-items: center;
	background-color: #f1faee;
	border-radius: 0.5%;
	display: flex;
	flex-direction: column;
	height: 65vh;
	justify-content: space-around;
	position: relative;
	padding: 2em;
	margin: auto;
	width: 50%;
}

.single-rep-container h1 {
	margin: 1em;
}

.profile-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 75%;
}

.rep-img {
	width: auto;
	height: 15em;
}

.bio-container {
	display: flex;
	flex-direction: row;
}

.bio-container h3,
.bio-container h4,
.bio-container p {
	display: inline-block;
	padding-bottom: 0.2em;
}

.bio-info {
	display: flex;
	flex-direction: column;
	margin-left: 2em;
}

.media-links-msg-input {
	display: flex;
	justify-content: space-around;
	width: 50%;
	height: 80%;
}

.message-form {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 50%;
	justify-content: center;
	margin-top: 1em;
	width: 100%;
}

.message-form textarea {
	box-shadow: -8px 8px 10px -11px rgba(69, 123, 157, 1);
}

textarea::placeholder {
	text-align: center;
}

.message-form button {
	cursor: pointer;
	margin-top: 2em;
	padding: 0.7em;
	background-color: #457b9d;
	color: #f1faee;
}

.contact-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bio-info ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

.bio-info li {
	background-color: #457b9d;
	border-radius: 25%;
	color: #f1faee;
	text-align: center;
	margin: 0.5em;
	width: 3em;
}

.bio-info img {
	height: inherit;
	padding: 0.5em;
	width: 3em;
}

.contact-container a {
	color: #f1faee;
}
