.single-rep-container {
	display: flex;
	justify-content: space-around;
	height: 100vh;
	position: relative;
}

.single-rep-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 50%;
	position: relative;
	background-color: #f1faee;
	margin: auto;
	height: 80vh;
	border-radius: 10px;
}

.profile-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 75%;
}

.rep-img {
	width: auto;
	height: 15em;
}

.bio-container {
	display: flex;
	flex-direction: row;
}

.bio-container h1 {
	font-size: 2em;
}

.bio-container h3,
.bio-container h4,
.bio-container p {
	border-bottom: 1px solid #457b9d;
	display: inline-block;
	padding-bottom: 0.2em;
}

.bio-info {
	display: flex;
	flex-direction: column;
	padding: 2em;
}

.media-links-msg-input {
	display: flex;
	justify-content: space-around;
	width: 50%;
	height: 80%;
}

.message-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;
}

textarea::placeholder {
	text-align: center;
}

.message-form button {
	cursor: pointer;
	margin-top: 2em;
	padding: 0.7em;
	background-color: #457b9d;
	color: #f1faee;
}

.contact-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-container ul {
	list-style-type: none;
	width: 15em;
}

.contact-container li {
	color: #f1faee;
	text-align: center;
	margin-bottom: 0.5em;
	background-color: #457b9d;
	padding: 3px;
	width: 100%;
}

.contact-container a {
	color: #f1faee;
}
