.single-rep-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.single-rep-container h1 {
	margin: 1em;
	color: white; 
	font-size: 2.5vw;
}

.profile-container {
	display: flex;
	flex-direction: column;
	max-width: 60%;
	min-width: 20%;
	color: white;
	/* border: solid green 1px; */
}

.rep-img {
	width: 26%;
	height: auto;
}

.bio-container {
	display: flex;
	flex-direction: row;
	/* border: solid 1px white; */
	width: 100%;
	justify-content: space-evenly;
}

.bio-container h3,
.bio-container h4,
.bio-container p {
	display: inline-block;
	font-size: 1.8vw;
	width: 100%;
	/* border: solid red 1px; */
}

.bio-info {
	display: flex;
	flex-direction: column;
	margin-left: 2em;
	justify-content: space-between;
	/* border: rgb(151, 147, 147) solid 1px; */
}

.bio-info li {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* border: solid red 1px; */
	position: relative;
	z-index: 4;
}


.bio-info a {
	margin-bottom: -10px;
}

.link-discription {
	display: none;
	position: absolute;
	top: 48px;
	left: 6px;
	z-index: 1;
	font-size: 0.6em;
}

.link-icon:hover {
	transform: scale(1.2);
}

.link-icon:hover + .link-discription {
	display: block;
}

.media-links-msg-input {
	display: flex;
	justify-content: space-around;
	width: 50%;
	height: 80%;
}

.message-form {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	margin-top: 1em;
	width: 100%;
	/* border: solid black 1px; */
}

.message-form textarea {
	box-shadow: -8px 8px 10px -11px rgba(69, 123, 157, 1);
	border-radius: 10px;
	background-color: #F4F7FB;
	margin-top: 10px;
}

textarea::placeholder {
	text-align: center;

}

.message-form button {
	cursor: pointer;
	border-radius: 10px;
	border-color: #457b9d;
	margin-top: 1em;
	padding: 0.7em;
	background-color: #457b9d;
	color: #f1faee;
}

.contact-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bio-info ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style-type: none;
	margin-top: 10px;
	/* border: solid purple 1px; */
}


.bio-info img {
	height: inherit;
	padding: 0.5em;
	width: 3em;
}

.contact-container a {
	color: #f1faee;
}

