@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.results {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: auto;
	width: 60%;
	align-items: center;
}

.search-results {
	border-radius: 5px;
	height: 75vh;
	width: 40vw;
}

.search-results h2 {
	color: #f1faee;
	font-family: "Roboto", sans-serif;
	font-size: 30px;
}

.card-info li {
	color: #f1faee;
}
