@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.results {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin: auto;
	width: 60%;
}

.search-results {
	display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    height: 75vh;
    width: 100%
}

.search-results h2 {
	color: #f1faee;
	font-family: "Roboto", sans-serif;
	font-size: 3vw;
	margin-right: auto;
}

.search-results p {
	margin: 15px;
	font-size: 1.8vw;
}

.card-info li {
	color: #f1faee;
}

.filter {
	border: 0.5px solid rgba(69, 123, 157, 1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1d3557;
	width: 100%;
	height: 3em;
	padding: 1.2em;
	margin-bottom: 15px;
}

.filter label, 
p  {
	font-size: 1.5vw;
}

.filter label {
	margin: 0.2em;
}

.filter input {
	margin-right: 0.2em;
}
